.comment-card{
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
    border-radius: 8px;
    background-color: #fff;
    margin: 10px;
    padding: 20px;
}
.stars{
    i{
        color: #ffb400;
        margin-right: 2px;
        cursor: pointer;
        font-size: 14px;
    }
}

.comment{
    span{
        font-size: 12px;
        }
}
.custommar-info{
    .user-img{
        width: 40px;
        height: 40px;
        border-radius: 50%;
        object-fit: cover;
    }
    .ms-3{
        .fw-bold{
            font-size: 14px;
        }
        .text-muted{
            font-size: 12px;
        }
    }
}